@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to BP Measurement Page</h1>
    <p>Check out our <a asp-controller="Measurement" asp-action="List">Measurement</a> page!</p>
</div>
